body{
    color: rgb(228, 212, 212);
    font-family: "Roboto Condensed", sans-serif;
    background-color: #1c0378;
}
/* header */
h1{
    color:rgb(151, 131, 19);
}
/* cards */
.card{
    background-color:#3f259d ;
    width: 100%;
    
}
p{
    display: inline-block;
    width: 50%;
    text-align: left;
}
img{
    width: 250px;
    height: 150px;
    display: inline-block;
    
}