* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/dark-black-orange-3d-abstract-wallpaper-picjumbo-com.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  text-align: center;
  position: relative;
  top: 45%;
  color: beige;
}
